{
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "player": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "trigger"
    },
    {
      "a": "trigger",
      "b": "player",
      "r": "Trigger"
    }
  ],
  "__guid": "b9f4c365-1616-45c1-b718-e4aae6ea376d",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 1
}