{
  "Version": 2,
  "Mixers": {
    "Guid": "892b03bf-df63-45b6-8ccc-aa5ffd1850b2",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "85437c4d-3c6d-4c0e-95fc-82820890436c",
        "Name": "Music",
        "Volume": 0.3,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "353ccaae-9c6b-4b96-adc4-0843be95bbbc",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "5a200fa5-b02b-43db-8258-5846e5d5795b",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "50f77a86-2210-44f2-ab9f-253f9fe8d7bf",
        "Name": "Wind",
        "Volume": 0.7,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "27ae1bcb-aec6-47ef-a7b5-15067f04a3bc",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}