RootPanel {
	pointer-events: visible;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.HutIndicator {
		height: 100;
		width: 100;
		background-image: url( ui/hut.png );
		background-size: 101px;
		transform: translate( 50% -10% );
		background-image-tint: #c5d4ed;
		background-color: red;

		.Arrow {
			position: absolute;

			height: 200px;
			width: 200px;
			background-image: url( ui/arrow.png );
			background-size: 200px;
			background-image-tint: #c5d4ed;
		}
	}

	.Hint {
		top: 10px;
		left: 0%;
		display: flex;
		flex-shrink: 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;

		.HintContainer {
			height: 100px;
			width: 100%;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;

			.HintTitle {
				font-family: akaPosse;
				color: white;
			}
		}
	}

	.Interact {
		top: 300%;
		left: 0%;
		display: flex;
		flex-shrink: 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30px;
		opacity: 0.8;

		.InteractContainer {
			height: 100px;
			align-items: center;
			justify-content: center;

			.InteractTitle {
				font-family: Georgia;
				color: white;
				font-size: 20px;
				text-stroke: 5px #110c2e;
			}
		}
	}

	.Items {
		height: 70px;
		width: 100%;
		pointer-events: all;
		top: 480px;
		margin-left: 100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.button {
			background-color: rgba( black, 0.2 );
			border-radius: 30px;
			flex-shrink: 1;
			height: 100%;
			aspect-ratio: 3;
			backdrop-filter: blur( 5px );
			background-color: rgba ( 80, 80, 80, 0.4 );
			border: 5px solid rgba ( 20, 20, 20, 0.4 );
			border-radius: 3px;
			mix-blend-mode: color;
			cursor: pointer;
			opacity: 0.4;
			transition: all 0.1s ease-in;
			align-items: center;
			justify-content: center;

			.title {
				font-family: Georgia;
				color: white;
				font-size: 20px;
				text-shadow: 0px 0px 10px rgba( black, 1 );
				text-stroke: 3px black;
			}

			&:hover {
				opacity: 0.8;
			}

			&.active, &:active {
				opacity: 1;
			}
		}
	}

	.Close {
		height: 150px;
		width: 100%;
		pointer-events: all;
		top: 620px;
		left: -100%;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.button {
			background-color: rgba( black, 0.2 );
			border-radius: 30px;
			flex-shrink: 1;
			height: 100%;
			aspect-ratio: 3;
			backdrop-filter: blur( 5px );
			background-color: rgba ( 80, 80, 80, 0.4 );
			border: 5px solid rgba ( 20, 20, 20, 0.4 );
			border-radius: 3px;
			mix-blend-mode: color;
			cursor: pointer;
			opacity: 0.4;
			transition: all 0.1s ease-in;
			align-items: center;
			justify-content: center;

			.title {
				font-family: Georgia;
				color: white;
				font-size: 50px;
				text-shadow: 0px 0px 10px rgba( black, 1 );
				text-stroke: 3px black;
			}

			&:hover {
				opacity: 0.8;
			}

			&.active, &:active {
				opacity: 1;
			}
		}
	}

	.Shop {
		height: 400px;
		width: 100%;
		pointer-events: all;
		top: 200px;
		margin-left: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.button {
			background-color: rgba( black, 0.2 );
			border-radius: 30px;
			flex-shrink: 1;
			height: 25%;
			aspect-ratio: 4;
			top: 0;
			backdrop-filter: blur( 5px );
			background-color: rgba ( 80, 80, 80, 0.4 );
			border: 5px solid rgba ( 20, 20, 20, 0.4 );
			border-radius: 3px;
			mix-blend-mode: color;
			cursor: pointer;
			opacity: 0.4;
			transition: all 0.1s ease-in;
			align-items: center;
			justify-content: center;

			.title {
				font-family: Georgia;
				color: white;
				font-size: 20px;
				text-shadow: 0px 0px 10px rgba( black, 1 );
				text-stroke: 3px black;
			}

			&:hover {
				opacity: 0.8;
			}

			&.active, &:active {
				opacity: 1;
			}
		}
	}

	.Map {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		width: 100%;
		height: 1080;
		display: flex;
		transform: translate( -25% );
		align-items: center;
		justify-content: center;

		.MapContainer {
			top: 100%;
			height: 90%;
			left: -25%;
			flex-shrink: 0;
			aspect-ratio: 1;
			transition: all 0.4s ease-in;
			background-image: url( /ui/map.png );
			background-position: center;
			background-size: 101%;
			background-repeat: no-repeat;

			.Player {
				height: 6%;
				width: 6%;
				background-image: url( /ui/you.png );
				background-size: 110%;
				background-repeat: no-repeat;
				background-position: center;
			}

			&.open {
				top: -10%;
			}
		}
	}
}
