RootPanel {
	pointer-events: visible;

	.HutIndicator {
		position: absolute;
		height: 100px;
		width: 100px;
		transform: translate( -50%, -50% );
		background-image: url( ui/hut.png );
		background-size: 101px;
		background-image-tint: #c5d4ed;

		.Arrow {
			position: absolute;
			height: 200px;
			width: 200px;
			background-image: url( ui/arrow.png );
			background-size: 200px;
			background-image-tint: #c5d4ed;
		}
	}

	.Hint {
		position: relative;
		top: 0px;
		left: -35%;
		display: flex;
		flex-shrink: 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 200%;

		.HintContainer {
			height: 100px;
			width: 100%;
			flex-shrink: 0;
			align-items: center;
			justify-content: center;
			left: 50%;

			.HintTitle {
				font-family: akaPosse;
				color: white;
			}
		}
	}

	.Interact {
		position: relative;
		top: -40%;
		margin-left: -88%;
		display: flex;
		flex-shrink: 0;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 300%;
		height: 100%;
		opacity: 0.8;

		.InteractContainer {
			height: 100px;
			align-items: center;
			justify-content: center;

			.InteractTitle {
				font-family: Georgia;
				color: white;
				font-size: 20px;
				text-stroke: 5px #110c2e;
			}
		}
	}

	.Items {
		height: 100%;
		width: 100%;
		pointer-events: all;
		left: -133%;

		.button {
			background-color: rgba( black, 0.2 );
			border-radius: 30px;
			flex-shrink: 1;
			width: 50%;
			aspect-ratio: 3;
			top: 50%;
			backdrop-filter: blur( 5px );
			background-color: rgba ( 80, 80, 80, 0.4 );
			border: 5px solid rgba ( 20, 20, 20, 0.4 );
			border-radius: 3px;
			mix-blend-mode: color;
			cursor: pointer;
			opacity: 0.4;
			transition: all 0.1s ease-in;
			align-items: center;
			justify-content: center;

			.title {
				font-family: Georgia;
				color: white;
				font-size: 20px;
				text-shadow: 0px 0px 10px rgba( black, 1 );
				text-stroke: 3px black;
			}

			&:hover {
				opacity: 0.8;
			}

			&.active, &:active {
				opacity: 1;
			}
		}
	}

	.Map {
		position: relative;
		pointer-events: none;
		top: 0%;
		left: -166%;
		width: 150%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.MapContainer {
			top: 100%;
			height: 90%;
			flex-shrink: 0;
			aspect-ratio: 1;
			transition: all 0.4s ease-in;
			background-image: url( /ui/map.png );
			background-position: center;
			background-size: 101%;
			background-repeat: no-repeat;

			.Player {
				height: 6%;
				width: 6%;
				background-image: url( /ui/you.png );
				background-size: 110%;
				background-repeat: no-repeat;
				background-position: center;

			}

			&.open {
				top: 0%;

			}
		}
	}
}
