RootPanel {
	pointer-events: visible;

	.HutIndicator {
		position: absolute;
		height: 100px;
		width: 100px;
		transform: translate( -50%, -50% );
		background-image: url( ui/hut.png );
		background-size: 101px;
		background-image-tint: #c5d4ed;

		.Arrow {
			position: absolute;
			height: 200px;
			width: 200px;
			background-image: url( ui/arrow.png );
			background-size: 200px;
			background-image-tint: #c5d4ed;
		}
	}

	.Hint {
		position: relative;
		top: 0px;
		left: 0px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		.HintContainer {
			height: 100px;
			align-items: center;
			justify-content: center;
			left: 50%;
			top: -200px;

			.HintTitle {
				font-family: akaPosse;
				color: white;
				font-size: 50px;
				text-stroke: 7px #110c2e;
			}
		}
	}

	.Map {
		position: relative;
		pointer-events: none;
		top: 0%;
		left: -50%;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.MapContainer {
			top: 100%;
			height: 90%;
			aspect-ratio: 1;
			transition: all 0.4s ease-in;
			background-image: url( /ui/map.png );
			background-position: center;
			background-size: 101%;
			background-repeat: no-repeat;

			.Player {
				height: 6%;
				width: 6%;
				background-image: url( /ui/you.png );
				background-size: 110%;
				background-repeat: no-repeat;
				background-position: center;
			}

			&.open {
				top: 0%;
			}
		}
	}
}
